.App {
  text-align: left;
}

.card {
  border: 2px solid darkblue;
  border-radius: 16px;
  box-shadow: 10px 10px 5px lightblue;
  margin: 20px;
  padding: 10px;
  display: flex;
  background-color: lightcyan;
}

h1 {
  color: darkblue;
}

h2 {
  color: darkblue;
}

p {
  margin-left: 10px;
  color: midnightblue;
  line-height: 1.75rem;
}

.insideCard {
  margin: 10px;
}

.words {
  flex-basis: 80%;
}

.play {
  flex-basis: 10%;
  margin: auto;
  font-size: 50px;
  color: #58728b;
}

.pause {
  flex-basis: 10%;
  margin: auto;
  font-size: 40px;
  color: midnightblue;
}

.actContainer {
  background-color: aliceblue;
  padding: 20px;
  margin: 5px;
  border-radius: 40px;
  border: 1px solid lightblue;
}
